In [284]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [285]:
columns = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Class' ]

In [286]:
data = pd.read_csv('C:\\Users\\Deepak\\Downloads\\pima-indians-diabetes.csv', names = columns)

# Preprocessing Stage

In [287]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [288]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [289]:
data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)

In [290]:
data.fillna(data.mean(), inplace = True)  #Filling all null values with mean of that column

In [291]:
data.head(15)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148.0,72.000000,35.00000,155.548223,33.600000,0.627,50,1
1,1,85.0,66.000000,29.00000,155.548223,26.600000,0.351,31,0
2,8,183.0,64.000000,29.15342,155.548223,23.300000,0.672,32,1
3,1,89.0,66.000000,23.00000,94.000000,28.100000,0.167,21,0
4,0,137.0,40.000000,35.00000,168.000000,43.100000,2.288,33,1
5,5,116.0,74.000000,29.15342,155.548223,25.600000,0.201,30,0
6,3,78.0,50.000000,32.00000,88.000000,31.000000,0.248,26,1
7,10,115.0,72.405184,29.15342,155.548223,35.300000,0.134,29,0
8,2,197.0,70.000000,45.00000,543.000000,30.500000,0.158,53,1
9,8,125.0,96.000000,29.15342,155.548223,32.457464,0.232,54,1
10,4,110.0,92.000000,29.15342,155.548223,37.600000,0.191,30,0
11,10,168.0,74.000000,29.15342,155.548223,38.000000,0.537,34,1
12,10,139.0,80.000000,29.15342,155.548223,27.100000,1.441,57,0
13,1,189.0,60.000000,23.00000,846.000000,30.100000,0.398,59,1
14,5,166.0,72.000000,19.00000,175.000000,25.800000,0.587,51,1

In [292]:
#Creating Train and Test set
X = data.drop(columns = 'Class')
y = data['Class']

In [293]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33

In [294]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Class, dtype: int64

In [295]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y)

In [296]:
#Random Forest Classifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7135416666666666

In [297]:
# Finding Important features

feature_importances = pd.DataFrame(model.feature_importances_, index = X.columns, columns=['importance']).sort_values('importance', ascending=False)
print(feature_importances)

                          importance
Glucose                     0.260971
BMI                         0.136814
DiabetesPedigreeFunction    0.131750
Insulin                     0.100211
BloodPressure               0.099836
Age                         0.099221
Pregnancies                 0.096409
SkinThickness               0.074788

In [298]:
#After usage of Random forest, we got to know that below 4 features are more relevant

col_subset = ['Glucose', 'BMI', 'Age', 'DiabetesPedigreeFunction', 'Class' ]
data_subset = data[col_subset]

In [299]:
data_subset.head()

   Glucose   BMI  Age  DiabetesPedigreeFunction  Class
0    148.0  33.6   50                     0.627      1
1     85.0  26.6   31                     0.351      0
2    183.0  23.3   32                     0.672      1
3     89.0  28.1   21                     0.167      0
4    137.0  43.1   33                     2.288      1

In [300]:
#Creating Train and Test set again
X = data_subset.drop(columns = 'Class')
y = data_subset['Class']

In [301]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y)

In [302]:
X_train.head()

     Glucose   BMI  Age  DiabetesPedigreeFunction
290     78.0  36.9   21                     0.434
600    108.0  27.1   24                     0.400
525     87.0  21.8   21                     0.444
92      81.0  46.7   42                     0.261
467     97.0  36.8   25                     0.600

In [303]:
y_train.value_counts()

0    375
1    201
Name: Class, dtype: int64

In [304]:
#Random Forest Classifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.75

Hence, post selection of some relevant features, some level of improvment can be seen in the model.